* {
  --background: #f0f0f0;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  * {
    --background: #242424;
    --foreground: #ededed;
  }
}

body {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-color: rgba(165, 164, 164, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;

  
}



          
.top-section {
            height: 256px;
            position: relative;
            z-index: 1;
          }
          
.login-button {
            position: absolute;
            top: 24px;
            right: 24px;
          }
          
.login-button a {
            background: white;
            color: #2563eb;
            padding: 8px 24px;
            border-radius: 9999px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
          }
.login-button a:hover {
            background: #f3f4f6;
          }
          

.background-image img {
            position: absolute;
            width: 100%;
            height: 256px;
            object-fit: cover;
            z-index: 1;
          }
          
.profile-section {
            position: relative;
            margin-top: -200px;
            margin-right: 40%;
            padding: 0 16px;
            z-index: 1;
          }
          

          
.profile-photo-container {
            display: flex;
            justify-content: center;
          }

          
.profile-photo-container img {
            max-width: 650px;
            min-width: 50px;
            max-height: 650px;
            min-height: 50px;
            object-fit: cover;
            transition: 0.5s;
          }
.profile-photo-container p {
            position: absolute;
            font-size: 24px;
            font-weight: bold;
            margin-top: 25%;
            margin-left: 65%;
            background-color: #E84341;
            background-size: auto;
            transition: 0.5s;
          }

          
.social-media-links {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 48px;
            transition: 0.5s;
          }
.social-media-links img {
            width: 40px;
            height: 40px;
            transition: filter 0.3s;
          }

          
.content-box {
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border-radius: 24px;
            padding: 18px;
            max-width: 672px;
            margin: 2% auto;
            box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
            text-align: left;

          }
          

          
          
.content-box h2 {
            font-size: 30px;
            font-weight: bold;
            color: #000;
            margin-bottom: 16px;
          }
          
.content-box p {
            color: #000;
            margin-bottom: 32px;
            margin-left: 32px;
            font-size: 18px;
            line-height: 1.6;
          }
          
.open-button {
            width: 32px;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            padding: 12px 32px;
            border-radius: 9999px;
            border: 1px solid #8b5cf6; /* Solid white border */;
            cursor: pointer;
            margin-left: auto; /* This pushes it to the right */
            box-shadow: 0 4px 6px rgba(26, 20, 20, 0.1);
          }
          
.open-button:hover {
            border-color: #f63b3b; /* Change border color on hover */
            background-color: rgba(255, 255, 255, 0.25);
            
          }
.open-button a {
            font-style: normal; /* Ensure the icon text is normal */
            text-decoration: none; /* Remove underline */
            color: white;
            text-align: center;
            font-weight: 800;
            align-items: center;
            justify-content: center;
          }

.footer {
            background-color: #E84341;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;      /* Vertical centering */
    padding: 5px;
          }
.footer a {
            color: #FFF;
            text-decoration: none;
            font-weight: bold;
          }





.login-page {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    height: 100vh;           /* Full viewport height */

}
.login-background {
    background-color: #FFF;
    background-size: auto;
}
.login-page p {
    padding: 0px 8px;
    font-size: 32px;
    font-weight: bold;
    color: #E84341;
    transition: 0.5s;
}
.blog-page {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    height: 100vh;           /* Full viewport height */
}
.blog-background {
    background-color: #FFF;
    background-size: auto;
}
.blog-page p {
    padding: 0px 8px;
    font-size: 32px;
    font-weight: bold;
    color: #E84341;
    transition: 0.5s;
}



.accueil-section {
  display: flex;
  justify-content: center;  /* Horizontal centering */
  align-items: center;      /* Vertical centering */
}
.accueil-button {
            position: absolute;
            top: 40%;
            left: 42%;
          }
          
.accueil-button a {
            background: white;
            color: #2563eb;
            padding: 8px 24px;
            border-radius: 9999px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
          }
.accueil-button a:hover {
            background: #f3f4f6;
          }
@media (max-width: 768px) {
    .content-box {
        width: 60%;
        min-width: 300px;
    }
    .content-box h2 {
        font-size: 20px;
    }
    .content-box p {
        font-size: 18px;
    }
    .profile-photo-container img {
        width: 280px;
        height: 190px;
        margin-top: 25%;
        transition: 0.5s;
    }
    .profile-photo-container p {
            position: absolute;
            font-size: 16px;
            font-weight: bold;
            margin-top: 65%;
            margin-left: 90%;
            background-color: #E84341;
            background-size: auto;
            transition: 0.5s;
          }
    .social-media-links{
        margin-left: 40%;
        transition: 0.5s;
    }
    .login-page p {
    font-size: 24px;
    font-weight: bold;
    color: #E84341;
    transition: 0.5s;
    }
    .blog-page p {
    font-size: 24px;
    font-weight: bold;
    color: #E84341;
    transition: 0.5s;
}
}


/* Animation */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}