* {
  --background: #FAF6ED;
  --foreground: #30343D;
  --primary: #EF4E6E;
  --primary-dark: #983B6F;
  --ai-sction-background: #9D53E0;
  --ai-sction-shadow: #5D2A8C;
  --ai-sction-button-hover: #924ed1;
  --links-section-background: #6287BE;
  --links-section-shadow: #5E5E80; 
  --links-section-button-hover: #597bae;
}

@media (prefers-color-scheme: dark) {
  * {
    --background: #242424;
    --foreground: #ededed;
  }
}
body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background);
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navbar ul li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navbar ul li a:hover {
  background-color: var(--primary-dark);
}


.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    min-height: 400px;
}

.hero-section-cover {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
  .hero-section-logo {
    width: 40%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    z-index: 2;
    margin-top: 10%;
  }
  .hero-section-title {
    background-color: var(--primary);
    color: var(--foreground);
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 10px;
    border-bottom: 8px solid var(--primary-dark);
  }
  .hero-section-title p {
    margin: 0;
  }
  .des-section {
    background-color: var(--primary);
    color: var(--foreground);
    font-size: 1em;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-bottom: 8px solid var(--primary-dark);
    border-right: 8px solid var(--primary-dark);
    border-radius: 12px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
  }



.links-section {
    padding: 20px;
}
.links-section h1 {
    background-color: var(--links-section-background);
    color: var(--foreground);
    align-items: center;
    justify-items: center;
    font-size: 2.2em;
    text-align: center;
    border-bottom: 8px solid var(--links-section-shadow);
    border-right: 8px solid var(--links-section-shadow);
    border-radius: 12px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    margin: 10px;
    padding: 20px;
  }
.links-section-items{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 10px;
  }

 .links-section-items p {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    }
.links-section-items img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  .links-section-items button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    color: var(--foreground);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.3s ease;
 }
 .links-section-items div{
    color: var(--foreground);
    font-size: 1.2em;
    text-align: center;
    padding: 15px;
    border-radius: 16px;
    background-color: var(--links-section-background);
    border-bottom: 6px solid var(--links-section-shadow);
    border-right: 6px solid var(--links-section-shadow);
    
  }
  .links-section-items button {
    background-color: var(--links-section-shadow);
  }
  .links-section-items button:focus {
      outline: 2px solid var(--links-section-button-hover);
      outline-offset: 2px;
  }
  .links-section-items button:hover {
    background-color: var(--links-section-button-hover);
  }






 .ai-section {
    padding: 20px;
  }
 .ai-section h1 {
    background-color: var(--ai-sction-background);
    color: var(--foreground);
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-bottom: 8px solid var(--ai-sction-shadow);
    border-right: 8px solid var(--ai-sction-shadow);
    border-radius: 12px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
  }
 .ai-section-items {
    color: var(--foreground);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .ai-section-items .ai-card{
    background-color: var(--ai-sction-background);
    border-bottom: 8px solid var(--ai-sction-shadow);
    border-right: 8px solid var(--ai-sction-shadow);
    color: var(--foreground);
    text-align: center;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  .ai-section-items h2 {
    text-align: left;
  }
  .ai-section-items p {
    font-size: 1.2em;
    text-align: left;
  }
  .ai-section-items button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--ai-sction-shadow);
    align-self: flex-end; 
    transition: background-color 0.3s ease;
  }
  .ai-section-items button:focus {
    outline: 2px solid var(--ai-sction-button-hover);
    outline-offset: 2px;
}
  .ai-section-items button:hover {
    background-color: var(--ai-sction-button-hover);
  }






footer {
  background-color: var(--primary);
  color: var(--foreground);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px;
  border-top: 8px solid var(--primary-dark);
}
footer a {
  text-decoration: none;
  color: var(--primary-dark);
  transition: color 0.3s ease;
  
}
footer a:hover {
  color: var(--foreground);
  
}
footer a:focus {
    outline: 2px solid var(--primary-dark);
    outline-offset: 2px;
}

@media (min-width: 1200px) { 
  .links-section-items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

@media (min-width: 768px) {

  .hero-section-title {
    font-size: 2em;
  }
   .des-section {
    font-size: 1.5em;

  }
  

 .links-section-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  .ai-section-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    
}

/* Animation */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
